PORT=4000
ADMIN_KEY=demo-admin
CLIENT_URL=http://localhost:5173
CLIENT_URLS=http://localhost:5173
# MONGODB_URI=mongodb+srv://ibrajkhangrd_db_user:IbrazSaiba6@cluster0.zlmkvoi.mongodb.net/?appName=Cluster0
MONGODB_URI=mongodb+srv://ibrajkhangrd_db_user:IbrazSaiba6@cluster0.zlmkvoi.mongodb.net/passive-income?retryWrites=true&w=majority&appName=Cluster0
